@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<title>@(Flowboard:) @{config.name}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="robots" content="all,follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#A0A0A0" />
	<meta name="apple-mobile-web-app-title" content="@{config.name}" />
	<link rel="apple-touch-icon" href="/icon.png" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700&subset=latin,latin-ext" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/github.min.css" />
	@{import('head', 'default.css', 'favicon.ico')}
	<script>var user = JSON.parse('@{json(user)}');user = {};user.sa = true;</script>
</head>
<body data-jc="exec,binder">

	<div data-jc="message" data-button="@(Close)"></div>
	<div data-jc="confirm"></div>
	<div data-jc="contextmenu"></div>
	<div data-jc="loading"></div>

	<div data-jc="resource">
		<script type="text/plain">
			yes:@(Yes)
			no:@(No)
			confirm-remove-widget:@(Are you sure you want to remove widget?)
		</script>
	</div>

	<a href="javascript:void(0)" data-exec="mainmenu" class="mainmenu exec"><i class="fa fa-navicon"></i></a>
	<section class="components-container">
		<div class="components-scroller">
			<div id="components">
				<span class="component" draggable="true"><i class="fa fa-map"></i>Map</span>
				<span class="component" draggable="true"><i class="fa fa-window-maximize"></i>Window</span>
				<span class="component" draggable="true"><i class="fa fa-lock"></i>Door</span>
			</div>
		</div>
	</section>
	<div class="designer-container">
		<div class="designer-scroll">
			<div class="designer">
				<div data-jc="designer"></div>
			</div>
		</div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>

	@{import('default.js')}
	@{place('scripts')}

	<script>

		function mainmenu(el) {

			var device = WIDTH();
			var items = [];

			items.push('@(Flowboard)');
			items.push({ name: '@(Database)', icon: 'fa-database', value: 'database' });
			items.push({ name: '@(Clear desktop)', icon: 'fa-trash-o', value: 'clear' });

			if (common.page === 'dashboard' && device !== 'xs' && dashboard.current) {
				var mode = FIND('dashboard').getMode();
				var save = mode === 1 && dashboard.changed ? true : false;
				items.push({ name: save ? '@(Save flowboard)' : '@(Edit flowboard)', icon: save ? 'fa-floppy-o' : 'fa-pencil', value: 'edit' });
			}

			@{if helpers.FLOW}
			user.sa && items.push({ name: '@(Flow)', icon: 'fa-sitemap', value: 'flow' });
			@{fi}

			FIND('contextmenu').show(device === 'xs' ? 'center' : 'left', el, items, function(value) {
				switch (value) {
					@{if helpers.FLOW}
					case 'flow':
						location.href = '@{helpers.FLOW.url}';
						break;
					@{fi}
					case 'database':
						EMIT('database');
						break;
				}
			}, device === 'xs' ? 5 : -3);
		}
	</script>
</body>
</html>