/*auto*/
html,body { height: 100%; overflow: hidden; margin: 0; padding: 0; }
body { background-color: #E6E9ED; font-smoothing: antialiased; color: #505050; }
.themedark { color: #A0A0A0; }

#success { height: 40px; top: 50px; left: 240px; width: 40px; background-color: #8CC152; font-size: 25px; line-height: 0; position: fixed; z-index: 20; color: white; text-align: center; padding: 8px 0 0 1px; display: none; transition: all 0.4s; z-index: 1000; border-radius: 4px; box-shadow: 0 2px 10px rgba(0,0,0,0.3); }
.success-animation { transform: scale(2) translate(0, 50px); }
.success { background-color: #8CC152; text-align: center; padding: 8px 10px; font-size: 12px; color: white; }
.success .fa { margin-right: 5px; }

.mainmenu { position: fixed; right: 25px; top: 13px; font-size: 22px; color: black; opacity: 0.8; z-index: 10; transition: all 0.3s; }
.mainmenu:hover { color: black; opacity: 1; }
.mainmenu .fa-spin { color: black; opacity: 1; }

.themedark .mainmenu { color: #E0E0E0; }
.themedark .mainmenu:hover { color: white; }
.themedark .fa-spin { color: white; }

.draft .mainmenu { color: #E33733; transform: rotate(90deg); top: 10px; }

.toolbar { left: 0; top: 0; width: 100%; height: 50px; background-color: #E7E9ED; box-shadow: 0 2px 10px rgba(0,0,0,0.05); z-index: 5; position: fixed; box-shadow: inset 0 -2px 10px rgba(0,0,0,0.04), 0 2px 10px rgba(0,0,0,0.05); border-bottom: 1px solid #D9D9D9; }
.themedark .toolbar { background-color: #101010; box-shadow: inset 0 2px 10px rgba(255,255,255,0.04), 0 2px 10px rgba(0,0,0,0.2); }
.toolbar .tabs { margin: 0; }
.toolbar .tabs a { position: relative; display: inline-block; padding: 14px 10px 0; height: 49px; color: gray; border-right: 1px solid #D9D9D9; font-size: 14px; outline: 0; min-width: 90px; text-align: center; max-width: 120px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.toolbar .tabs div { position: relative; display: inline-block; }
.toolbar .tabs .last { display: none; }
.draft .toolbar .tabs .last { display: inline-block; min-width: 40px; border-right: 0; }
.toolbar .tabs a:hover { text-decoration: none; color: black; }
.toolbar .tabs a.selected { background-color: white; color: black; }

.themedark .toolbar { border-bottom-color: #252525; }
.themedark .toolbar .tabs a { border-color: #202020; }
.themedark .toolbar .tabs a:hover { color: white; }
.themedark .toolbar .tabs a.selected { background-color: #323232; color: white; }
.themedark .ui-form-container { color: #505050; }

.padding { padding: 25px; }
.m { margin-bottom: 20px; }
.cl { clear: both; }
.center { text-align: center; }

.npb { padding-bottom: 0; }
.npt { padding-top: 0; }
.nmt { margin-top: 0; }
.nmb { margin-bottom: 0; }
.mr5 { margin-right: 5px; }
.b { font-weight: bold; }
.black { color: black; }

.designer-container { position: absolute; width: 100%; height: 100%; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; }
.designer-scroll { width: 104%; height: 104%; overflow: scroll; }
.designer { background: url(img/themelight.png) repeat 0 0; width: 6000px; height: 6000px; transition: transform 0.5s; position: relative; }
.themedark .designer { background-image: url(img/themedark.png); }

.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.help { margin-top: 5px; font-size: 11px; color: #A0A0A0; }
.help code { font: normal normal 11px Arial; background-color: #F0F0F0; padding: 1px 5px; border-radius: 4px; }
.help .fa { margin-right: 5px; }
.fs12 { font-size: 12px; line-height: 15px; }

.resizable-container { top: 30px; right: 30px; position: fixed; z-index: 100; width: 250px; background-color: white; padding: 20px; border-radius: 4px; box-shadow: 0 10px 10px rgba(0,0,0,0.1); font-size: 11px; color: gray; display: none; }
.resizable-container .m { margin-bottom: 10px; }
.draft .resizable-container-visible { display: block; }

.controls-container { bottom: -30px; right: 30px; height: 30px; position: fixed; z-index: 100; transition: bottom 0.5s; }
.draft .controls-container { bottom: 90px; }
.controls-container nav { background-color: white; border-radius: 3px; border: 1px solid #E0E0E0; padding: 1px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }
.controls-container nav button { width: 30px; text-align: center; height: 28px; background-color: white; border: 0; border-left: 1px solid #E0E0E0; cursor: pointer; outline: 0; padding: 0; margin: 0; transition: background 0.3s; }
.controls-container nav button:hover { background-color: #F0F0F0; }
.controls-container nav button:first-child { border-top-left-radius: 3px; border-bottom-left-radius: 3px; border-left: 0; }
.controls-container nav button:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.controls-container .disabled, .controls-container button:disabled { cursor: not-allowed; color: #D0D0D0; background-color: white !important; }
.controls-container .fa-lock { color: red; }

.themedark .controls-container nav { background-color: #151515; border-color: #222222; }
.themedark .controls-container nav button { background-color: #151515; border-color: #222222; color: #D0D0D0; }
.themedark .controls-container nav button:hover { background-color: #222222; }
.themedark .controls-container .disabled, .themedark .controls-container button:disabled { color: #202020; background-color: #101010 !important; }

.zoom-container { bottom: 90px; right: 30px; height: 30px; position: fixed; z-index: 100; transition: bottom 0.5s; }
.draft .zoom-container { bottom: 200px; }
.zoom-container nav { background-color: white; border-radius: 3px; border: 1px solid #E0E0E0; padding: 1px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }
.zoom-container nav button { width: 30px; text-align: center; height: 28px; background-color: white; border: 0; border-top: 1px solid #E0E0E0; cursor: pointer; outline: 0; padding: 0; margin: 0; display: block; transition: background 0.3s; color: #303030; }
.zoom-container nav button:first-child { border-top-left-radius: 3px; border-top-right-radius: 3px; border-top: 0; }
.zoom-container nav button:last-child { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.zoom-container nav button:hover { background-color: #F0F0F0; }

.themedark .zoom-container nav { background-color: #151515; border-color: #222222; }
.themedark .zoom-container nav button { background-color: #151515; border-color: #222222; color: #A0A0A0; }
.themedark .zoom-container nav button:hover { background-color: #222222; }

.components-container { bottom: -60px; left: 0; height: 60px; position: fixed; background-color: white; right: 0; box-shadow: 0 -5px 10px rgba(0,0,0,0.08); z-index: 100; overflow: hidden; transition: bottom 0.5s; }
.draft .components-container { bottom: 0; }
.components-scroller { width: 104%; height: 80px; overflow-x: auto; overflow-scrolling: touch; }
#components .component .fa { font-size: 26px; display: block; height: 30px; margin: 2px 0 0 0; }
#components .component { padding: 5px 5px 8px; font-size: 11px; width: 80px; position: relative; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center; cursor: pointer; border-right: 1px solid #E0E0E0; }
#components .component:hover { background-color: black; color: white; }
#components { width: 6000px; }

.themedark .components-container { background-color: #151515; }
.themedark #components .component { border-color: #252525; color: silver; }
.themedark #components .component .fa { color: #505050; }
.themedark #components .component:hover { background-color: #303030; }

.db-container { margin: 0 -10px; }
.db-norefresh .db-refresh { display: none; }
.db-item { position: relative; display: inline-block; background-color: white; border: 2px solid #E0E0E0; padding: 4px 10px; width: 204px; margin: 10px 10px 5px; border-radius: 3px; }
.db-item > span { float: right; width: 20px; text-align: right; margin: 0; cursor: pointer; color: #E33733; }
.db-item > span .fa-refresh { color: #909090; }
.db-item > span:hover { opacity: 0.8; }
.db-item > div { margin-right: 20px; width: 130px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.db-item .name { font-size: 12px; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #505050; }
.db-item .author { font-size: 11px; color: gray; }
.db-category { font-size: 16px; color: black; margin: 15px 10px 5px; font-weight: bold; border-bottom: 3px solid black; padding: 5px 0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.db-category .fa { margin-right: 8px; }
.db-item .datetime { font-size: 11px; color: #A0A0A0; }
.db-item .datetime .fa { margin-right: 5px; }

.bg-fade { background: linear-gradient(#F8F8F8, white); border-bottom: 1px solid #F0F0F0; margin-bottom: 5px; padding-bottom: 7px !important; }
.bg-smoke { background-color: #F8F8F8; }
.bg-yellow { background-color: #FFFFD5; }

.tag { position: relative; display: inline-block; padding: 5px 10px; margin: 0 8px 8px 0; background-color: #3BAFDA; color: white; text-decoration: none; border-radius: 3px; font-size: 12px; cursor: pointer; line-height: 14px; }
.tag:hover { opacity: 0.8; text-decoration: none; }
.tag2 { background-color: #165b7b; }
.block { display: block; }
